-e packages/lspr_ui
-e packages/lspr_core
-e packages/lspr_io
-e apps/suite_launcher
-e apps/sLSPR/acq
-e apps/sLSPR/eva
-e apps/LSPRi/eva
# Optional for AMF M-Switch hardware:
# python -m pip install AMFTools
